schema/nisosts/NISO-STS-interchange-1-2-MathML3-RNG/JATS-journalpubcustom-models1-3.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Journal Publishing DTD Customize Content and -->
<!-- Attributes Module -->
<!-- VERSION:   ANSI/NISO JATS Version 1.3 (Z39.96-2021) -->
<!-- DATE:      June 2021 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Journal Publishing DTD Customize Content and Attributes Module v1.3 20210610//EN"
  Delivered as file "JATS-journalpubcustom-models1-3.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Journal Publishing DTD of the JATS DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride the content models, parts of content -->
<!-- models, or attribute lists of the JATS DTD Suite -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created from the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- September 2004 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- The Journal Publishing DTD is built from the -->
<!-- Archiving and Interchange DTD Suite. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
     ==============================================================
       JATS Version 1.3 (ANSI/NISO Z39.96-2021)
                                    (DAL/BTU) v1.3 (2021-06-10)
  
       ANSI NISO JATS is a continuing maintenance NISO Standard, 
       which requires voting by both the NISO and ANSI memberships 
       to be changed. This version of the NISO JATS was approved 
       by ANSI vote on June 10, 2021, so it supersedes all Committee 
       Drafts as well as the draft version JATS 1.3 2021 (the version
       submitted for vote), becoming NISO JATS v1.3 20210610 
       (ANSI/NISO Z39.96-2019).
  
       The file names and formal public identifiers have been 
       changed in the modules and the catalogs.
  
   51. JATS 'v1.3d2 20201130' becomes 'v1.3 20210610' 
       (final ANSI vote date)
       'ANSI/NISO Z39.96-2019' becomes 'ANSI/NISO Z39.96-2021'
  
    ==============================================================
       JATS Version 1.3d2 (ANSI/NISO Z39.96-2021)
                                     (DAL/BTU) v1.3d2 (2020-11-30)
  
       ANSI NISO JATS is a continuing maintenance NISO Standard, 
       which requires voting by the NISO and ANSI memberships 
       to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       of the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting; it is for Standing Committee review and
       testing. The formal public identifiers have been changed 
       in the modules and the catalogs.
  
   50. NEW DATE-ONLY CLASS
         - Added <history> model override, because default
           JATS uses both <date> and <string-date> in 
           <history>, while Publishing uses only <date>.
         - Added <event> model override, because default
           JATS uses both <date> and <string-date> in 
           <event>, while Publishing uses only <date>.
  
   49. OBJECT ID Added <object-id> to: 
          <abstract>, <ack>, <list>, trans-abstract>
          <fig-group> (model removed as was same as default) 
  
   48. EXPANSION OF FIXED ATTRIBUTES LIST: There are four  
       content-defined attributes which are CDATA values 
       (undetermined) in Archiving, but which are named value 
       lists in Publishing/Authoring:
         - @fn-type            (override is in this module)
         - @person-group-type  (override is in this module)
         - @pub-id-type
         - @ref-type 
       In order to give users of Publishing and Authoing
       more flexibility to name new values without 
       destroying the benefit of named value lists:
         - A new value “custom” has been added to the named
             value list of each of these four attributes.
         - A new attribute @custom-type has been added to
             each element that takes one of these attributes.
       In this module:
        - The element <fn> was given the new attribute 
          @custom-type and "custom" was added to
          %fn-types (the footnote type named value list).
        - The element <person-group> was given the new 
          attribute @custom-type and "custom" was added to
          %person-group-types (the person group type named 
          value list). As an example: 
             <person-group @person-group-type=”custom” 
              custom-type=”statisticians”>
       The Best Practice rule (unenforceable in DTDs, but  
       enforceable in Schematron) is, that if you use the 
       value “custom” from one of these lists, you should 
       also record what type of 'custom' in the 
       @custom-type attribute.
  
   46. SEE ALSO - The four vocabulary attributes were added to
       <see-also>, which is defined in the BITS question-answer
       model.
  
   45. ISSUE TITLE GROUP - Added <issue-title-group> to 
       <article-meta>  (optional, repeatable)
  
   44. JATS "v1.3d2 20201130" becomes 'v1.3 20210610' (second 
       committee draft following the final ANSI/NISO 1.2 vote)
  
     ==============================================================
       JATS Version 1.3d1 (ANSI/NISO Z39.96-2021)
                                     (DAL/BTU) v1.3.d1 (2019-08-31)
  
       ANSI NISO JATS is a continuing maintenance NISO Standard, 
       which requires voting by the NISO and ANSI memberships 
       to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       of the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   43. ADDED SUBJECTS TO WHEREVER KEYWORDS ALLOWED - Added
       <subj-group> directly to the following elements:
        - fig 
        - fig-group 
  
   42. MULTI-LANGUAGE FIGURE AND TABLE LABELS AND CAPTIONS
  
       - Made <label> repeatable inside <fig> and
         <fig-group> to allow both labels and captions to 
         repeat to be tagged in multiple languages:
           label   xml-lang="a"
           label   xml-lang="b"
           caption xml-lang="a"
           caption xml-lang="a"
  
   41. LINKING FIGURES TO SUPPLEMENTARY MATERIAL
  
       - Added the <xref> element (for an internal cross-reference)
         to the large OR-group inside the body of a <figure>, to
         be used to make a link to a <supplementary-material>
         element as a way of recording that a dataset or similar is
         the data from which the figure was derived.
  
       - Also added the <xref> element (for internal cross-reference)
         to the OR-group inside of <fig-group> for the same
         reason, although inside groups will probably be rare.
  
   40. JATS "1.2" becomes "v1.3d1 20190831" (first committee
       draft following the final ANSI/NISO vote) 
  
     ==============================================================
       JATS Version 1.2 (ANSI/NISO Z39.96-2021)
                                     (DAL/BTU) v1.2     (2019-02-08)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the both the NISO and ANSI membership 
       to be changed. This version of the NISO JATS was approved 
       by ANSI vote on Feb 08, 2019, so it supersedes all Committee 
       Drafts as well as the draft version JATS 1.2 2018 (the version
       submitted for vote), becoming NISO JATS v1.2 20190208 
       (ANSI/NISO Z39.96-2021).
  
   39. JATS "1.2" becomes "v1.2 20190208" (final ANSI vote date)
       "ANSI/NISO Z39.96-2015" becomes "ANSI/NISO Z39.96-2019"
  
     ==============================================================
       JATS Version 1.2 (ANSI/NISO Z39.96-2018)
  
                                     (DAL/BTU) v1.2     (2018-11-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the both the NISO and ANSI membership 
       to be changed. This version of the NISO JATS was approved 
       by ANSI and NISO vote, so it supersedes all Committee Drafts
       and becoming NISO JATS 1.2 (ANSI/NISO Z39.96-2018).
  
   38. 
       JATS "1.2d2" and "v1.2d2 20180401" became
       JATS "1.2" and "v1.2 20181130" 
  
      =============================================================
  
       JATS Version 1.2d2              (DAL/BTU) v1.2d2  (2018-04-01)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       BITS is under continuous maintenance, and is modified at the
       discretion of the working group.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   37. PERSON GROUP TYPES  - Replaced the CDATA value for 
       @person-group-type with list of values, parameter
       entity %person-group-types;, reversing the decision
       of Version 1.2d1.
  
   36. FOOTNOTES
        - Made @fn-type from CDATA into a restricted list,
          reversing the decision of version 1.2d1. 
        - Added back the %fn-types; PE, which is used for values of
          @fn-type
        - Added new value "coi-statement", which is best practice
          replacing value "conflict", which was left on the list.
  
   35. NON-MONETARY SUPPORT - Inside <article-meta> added new
       <support-group> to hold both funding and
       non-monetary support descriptions. <support-group> is 
       both a peer to <funding-group> (backward compatibility)
       and contains <funding-group>.
  
   34. PUBLICATION DATE-NOT-AVAILABLE - Inside <article-meta>, 
       <front-stub>, <event>, and <event-desc>
       added new element <pub-date-not-available>, as an 
       alternative to <pub-date>. The meaning is that a 
       publication date was (for whatever reason) not available. 
       Presence of the element says nothing about publication 
       status.
  
   33. BITS "2.0" and "v2.0 20151225" remain unchanged
  
  
       JATS "1.2d1" and "v1.2d1 20171231" became
       JATS "1.2d2" and "v1.2d2 20180401". 
  
       No module names were changed.
  
      =============================================================
       JATS Version 1.2d1 (ANSI/NISO Z39.96-2015)
                                     (DAL/BTU) v1.2d1  (2017-12-31)
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   32. JATS "1.2d1" and "v1.2d1 20170631" became
       JATS "1.2d1" and "v1.2d1 20171231". 
  
      =============================================================
       JATS Version 1.2d1              (DAL/BTU) v1.2d1  (2017-06-31)
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   31. PERSON GROUP TYPES - Replaced the %person-group-types; parameter
       entity (allauthors | assignee | author | compiler | curator | 
       director | editor | guest-editor | illustrator | inventor |
       research-assistant | translator | transed) with CDATA to allow
       all types.
          [Note: Rescinded in JATS 1.2d1. @fn-type is still
          a value list Note on 2020-51-31]
  
   30. ARTICLE META MODEL
       - ARTICLE VERSION - Added new element <article-version>
         inside <article-meta> to hold one version number for the 
         article. <article-version> element may repeat inside
         <article-version-alternatives> to hold version numbers 
         from different systems.
  
       - NO DATE - <pub-date> (optional repeatable) is now
         followed by the optional new element 
         <pub-date-not-available>. 
  
       - PUBLICATION HISTORY - Added new element based on BITS,
         <pub-history>, to hold <event>s as <history> holds
         <date>s. New internal elements: <event>, <event-desc>
  
   29. FOOTNOTES
        - Made @fn-type into a CDATA from a restricted list.
          Deleted %fn-types; PE, which used to be used.
          [Note: Rescinded in JATS 1.2d1. @fn-type is still
          a value list Note on 2020-51-31]
  
   28. PERSON-GROUP
        - Removed string-name.class PE from PE person-group-elements
          because <string-name> was added to name.class, which
          person-group-elements already used.
  
   27. PERSON-GROUP - Made @person-group-type values into a parameter
       entity and added values "illustrator" and "research-assistant".
  
   26. JATS became version "1.2d1" and "v1.2d1 20170631" 
  
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   25. JATS became version "1.1" and "v1.1 20151215"
       BITS remained version "2.0" but becomes "v2.0 20151225"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   24. JATS became version "1.1d3" and "v1.1d3 20150301"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   23. <VOLUME> INSIDE <ARTICLE-META>
     - Allowed <volume> to repeat inside <article-meta>, the types to 
       be distinguished using @content-type
     - Added new optional element <volume-issue-group> inside 
       <article-meta) following all volume and issue elements
       to hold volume-issue pairs (or n-tuples) when a second
       and subsequent <volume> has its own related issue
       information.
     - Made <issue> repeatable, for those who choose not to use
       the new wrapper element.
  
   32. VERSION ELEMENTS
       The new element <version> uses the PE %-just-rendition,
       but Authoring has set that PE to null, so the <version>
       element added <sup> and <sub> to be like the content
       of <edition>.
  
   31. VALUE LIST FOR PERSON-GROUP-TYPE
       Added "curator" to the list of person-group role values.
  
   30. EDITION ELEMENTS - Added <sub> and <sup> to the model of
       edition. These were needed now that the "Edition" element
       has been renamed and repurposed as "Edition Statement".
  
   29. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
   28. CONFERENCE LOCATION ELEMENTS AND PUBLISHER LOCATION ELEMENTS
        - Added 3 new OPTIONAL elements: <city>, <state>, 
          and <postal-code> by adding address.class
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.3d2/
  
   27. ON-BEHALF-OF NEW CONTENT
       Added <xref>, <fn>, and <target> (the simple links) to 
       <on-behalf-of>.
  
   26. ADDED <string-date> to <mixed-citation> and <element-citation>
       through citation-elements.
  
   25. NEW ELEMENT <era>
       Added to the model of <date>, optional following year,
       through date-model.
  
   24. XML Base
       Added the attribute @xml:base to the Global (common)
       attributes used on all elements.
  
   23. INSTITUTION-WRAP ADDED
       Added the element <institution-wrap> to the following elements
       through the institution-wrap.class:
        - <conf-sponsor>
        - <publisher-name>
        - <std-organization>
  
   22.  GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
       All attribute lists in this module changed.
  
   21. ABSTRACTS AND KEYWORDS ON NEW STRUCTURES
       - Added <abstract> (through %abstract.class;) and <kwd-group> 
         (through %kwd-group.class;) to the following elements:
          - ack (through %ack-model;)
          - fig (through %fig-model;)
          - fig-group (through %fig-group-model;)
  
       - Changed "abstract*" to "(%abstract.class;)*"
         and "kwd-group*" to "(%kwd-group.class;)*" since those
         classes now exist. Elements should have a limited number of
         ways to be invoked.
          - article-meta (through %article-meta-model;)
  
   20. ACKNOWLEDGMENT MODEL
       - Added optional, repeatable <kwd-group> to the beginning of 
         <ack> (through %ack-model;).
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.3d2/
  
   19. RELATED OBJECT - Added <related-object> everywhere
       <related-article> was used, including inside 
       <article-meta> using article-meta-model.
  
   18. CONTRIBUTOR MODEL - Added "contrib-id.class" to the beginning
       at the <contrib> model, to hold identifiers for people,
       such as publishers-specific IDs and ORCIDs.
  
   17. STANDARDS ORGANIZATION - Added std-organization-elements
       to reduce what was allowed in the names of standards bodies.
  
   16. JOURNAL METADATA MODEL
       - Added <issn-l> as an optional element to <journal-meta>
       - Added contributors and affiliations to journal metadata through
         contrib-group.class (which resolves to <contrib-group>) and 
         aff-alternatives.class (which resolves to <aff> or
         <aff-alternatives>), using the journal-meta-model.
  
   15. JOURNAL METADATA MODEL
  
   14. PARAGRAPH PARAMETER ENTITY SYNTAX CHANGE (no models changed)
       Fixed content models that were stated as "p*" and "sec*"
       to use the %just-para.class;, %sec.class, and %ref-list.class; 
       classes. Element models that were changed include:
        - abstract
        - ack
        - trans-abstract
  
   13. Updated the DTD-version attribute to "1.0" and the formal
       public identifier to the date: "v1.0 20120330//EN".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
   12. Updated the DTD-version attribute to "0.4" 
  
   11. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
  
   10. POSITION ATTRIBUTE - Added the value "background"
  
    9. PREFORMAT - Added <alt-text> and <long-desc> to <preformat> by
       adding %access.class; to %preformat-elements;
  
    8. INITIALS - Removed the attribute over-ride for <surname> and
       <given-names> to allow the use of @initials.
  
    7. JOURNAL METADATA- Added <notes> to repeat within <journal-meta>
       (through %journal-meta-model; and added @xml:lang and
       @specific-use to the attributes of <notes> through %notes-atts;
  
    6. AFFILIATION ALTERNATIVES - Added the element <aff-alternatives>
       to <article-meta> through %article meta-model;. This element
       will hold multiple <aff>s that are a representation of a
       single affiliation, for example, the name of an institution
       in two languages or two scripts.
  
    5. PERSON-GROUP - Became a mixed-content model, so the parameter
       entity %person-group-model: was changed to
       %person-group-elements;, which will be mixed with #PCDATA
       as defined in references.ent. The PE person-group-model has
       been retained in references.ent for compatibility, but has been
       set to the mixed model using person-group-elements.
  
    4. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
       @xml:lang to %display-atts;. Also added these attributes
       to the following over-rides:
        - inline-graphic through inline-graphic-atts (both)
        - fn through fn-atts (added @specific-use, @xml:lang already
            there)
        - person-group through person-group-atts (both)
  
    3. LABEL - Added optional <label> to <fig-group> using
       %fig-group-model; as the first element in model, before caption
  
    2. SELF URI - Added <self-uri> to <journal-meta> (directly
       following <notes>) so that an XML document can point to the
       journal home page.
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20071031//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- ATTRIBUTE VALUE LISTS -->
<!-- ============================================================= -->
<!-- FOOTNOTE TYPE VALUES -->
<!--
  Used to mark the semantics of the footnote,
  what information does this footnote convey.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="fn-types">
    <choice>
      <value>abbr</value>
      <value>coi-statement</value>
      <value>com</value>
      <value>con</value>
      <value>conflict</value>
      <value>corresp</value>
      <value>current-aff</value>
      <value>deceased</value>
      <value>edited-by</value>
      <value>equal</value>
      <value>financial-disclosure</value>
      <value>on-leave</value>
      <value>participating-researchers</value>
      <value>presented-at</value>
      <value>presented-by</value>
      <value>present-address</value>
      <value>previously-at</value>
      <value>study-group-members</value>
      <value>supplementary-material</value>
      <value>supported-by</value>
      <value>other</value>
      <value>custom</value>
    </choice>
  </define>
  <!-- PERSON GROUP TYPE VALUES -->
  <!--
    Used to name the type of  contributor(s),
    such as "editor".
  -->
  <define name="person-group-types">
    <choice>
      <value>allauthors</value>
      <value>assignee</value>
      <value>author</value>
      <value>compiler</value>
      <value>curator</value>
      <value>director</value>
      <value>editor</value>
      <value>guest-editor</value>
      <value>illustrator</value>
      <value>inventor</value>
      <value>research-assistant</value>
      <value>translator</value>
      <value>transed</value>
      <value>custom</value>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
  <!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
  <!-- ============================================================= -->
  <!-- ABBREVIATED JOURNAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <abbrev-journal-title>
    Removed the face markup, %just-rendition;
  -->
  <!-- CITATION ELEMENTS -->
  <!--
    Content for both types of citation. These
    elements may be mixed with #PCDATA in the
    <mixed-citation> element (in which all
    punctuation and spacing are left intact), and
    they also constitute the choices that can be
    used to form the all-element-content of the
    <element-citation> element (in which
    punctuation and spacing are removed).
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <!-- CONFERENCE ACRONYM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference acronym.
    Removed %simple-text;
  -->
  <define name="conf-acronym-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE LOCATION ELEMENTS -->
  <!--
    Elements for use in the <conf-loc> element
    Removed %simple-text;
  -->
  <define name="conf-loc-elements">
    <ref name="address.class"/>
  </define>
  <!-- CONFERENCE NAME ELEMENTS -->
  <!--
    Elements for use in the <conf-name> element.
    Removed %simple-text;
  -->
  <define name="conf-name-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference number.
    Removed %simple-text;
  -->
  <define name="conf-num-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE SPONSOR  ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference sponsor.
    Removed %simple-text;
  -->
  <define name="conf-sponsor-elements">
    <ref name="institution-wrap.class"/>
  </define>
  <!-- DEGREE(S) ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <degrees>
    Removed %just-rendition;
  -->
  <define name="degrees-elements">
    <notAllowed/>
  </define>
  <!-- EDITION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    Removed %just-rendition;
  -->
  <define name="edition-elements">
    <ref name="subsup.class"/>
  </define>
  <!-- FAX NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <fax>
    Removed %just-rendition;
  -->
  <define name="fax-elements">
    <notAllowed/>
  </define>
  <!-- GIVEN (FIRST) NAMES ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <given-names>
    Removed %just-rendition;
  -->
  <define name="given-names-elements">
    <notAllowed/>
  </define>
  <!-- INSTITUTION NAME ELEMENTS -->
  <!--
    Elements for use in the <institution>
    element
    Removed %break.class; and %emphasis.class;
  -->
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issue> element
    Removed %just-rendition;
  -->
  <define name="issue-elements">
    <notAllowed/>
  </define>
  <!-- JOURNAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <journal-title>
    Removed %just-rendition;
  -->
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword <kwd>.
  -->
  <!-- PATENT NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <patent>
    Removed %just-rendition;
  -->
  <define name="patent-elements">
    <notAllowed/>
  </define>
  <!-- PERSON GROUP MODEL -->
  <!-- Content model for the <person-group> element -->
  <define name="person-group-elements">
    <choice>
      <ref name="name.class"/>
      <ref name="person-group-info.class"/>
    </choice>
  </define>
  <!-- PHONE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <phone number>
    Removed %just-rendition;
  -->
  <define name="phone-elements">
    <notAllowed/>
  </define>
  <!-- PREFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <prefix>
    Removed %just-rendition;
  -->
  <define name="prefix-elements">
    <notAllowed/>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which whitespace,
    such as tabs, line feeds, and spaces will
    be preserved
  -->
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
                        Elements for use in the Publisher Location
    <publisher-loc> element
    Removed emphasis.class;, and %subsup.class;
  -->
  <!-- PUBLISHER'S NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <publisher-name>
    Removed %just-rendition;
  -->
  <define name="publisher-name-elements">
    <ref name="institution-wrap.class"/>
  </define>
  <!-- STANDARDS ORGANIZATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <std-organization>.
    Removed emphasis.class.
  -->
  <!-- SUFFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <suffix>
    Removed %just-rendition;
  -->
  <define name="suffix-elements">
    <notAllowed/>
  </define>
  <!-- SURNAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <surname>
    Removed %just-rendition;
  -->
  <define name="surname-elements">
    <notAllowed/>
  </define>
  <!-- URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <uri>
    Removed %just-rendition;
  -->
  <define name="uri-elements">
    <notAllowed/>
  </define>
  <!-- VERSION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <version>
  -->
  <define name="version-elements">
    <ref name="subsup.class"/>
  </define>
  <!-- VOLUME NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <volume>
    Removed %just-rendition;
  -->
  <define name="volume-elements">
    <notAllowed/>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ABSTRACT MODEL -->
  <!--
                        Abstracts may contain one or more paragraphs
    (as a typical abstract does) or titled
    sections, as is done in many physics
    articles.
    Unlike the default model in the base DTD
    Suite, this <abstract> requires that all
    sections in the abstract start with titles.
  -->
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!-- Content model for the <ack> element -->
  <!-- ANONYMOUS MODEL -->
  <!--
    Unlike in Green, <anonymous> is empty. When
    present, it is used to generate the text
    "anonymous" or "anon.", etc.
  -->
  <define name="anonymous-model">
    <empty/>
  </define>
  <!-- ARRAY CONTENT MODEL -->
  <!--
    The element used to contain material in
    rows and columns that is just a block insert
    into the text flow, not numbered or called a
    table, and not titled or captioned
  -->
  <!-- ARTICLE METADATA MODEL -->
  <!--
    Full content model for the metadata that is
    specific to the article.
    Unlike in Archive DTD, some of the metadata
    is required here.
  -->
  <define name="article-meta-model">
    <zeroOrMore>
      <ref name="article-id"/>
    </zeroOrMore>
    <optional>
      <ref name="article-version.class"/>
    </optional>
    <optional>
      <ref name="article-categories"/>
    </optional>
    <ref name="title-group"/>
    <zeroOrMore>
      <choice>
        <ref name="contrib-group.class"/>
        <ref name="aff-alternatives.class"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="author-notes"/>
    </optional>
    <choice>
      <oneOrMore>
        <ref name="pub-date.class"/>
      </oneOrMore>
      <optional>
        <ref name="pub-date-not-available"/>
      </optional>
    </choice>
    <zeroOrMore>
      <ref name="volume"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="volume-id"/>
    </zeroOrMore>
    <optional>
      <ref name="volume-series"/>
    </optional>
    <zeroOrMore>
      <ref name="issue"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-id"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-title-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-sponsor"/>
    </zeroOrMore>
    <optional>
      <ref name="issue-part"/>
    </optional>
    <zeroOrMore>
      <ref name="volume-issue-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="isbn"/>
    </zeroOrMore>
    <optional>
      <ref name="supplement"/>
    </optional>
    <optional>
      <choice>
        <group>
          <ref name="fpage"/>
          <optional>
            <ref name="lpage"/>
          </optional>
          <optional>
            <ref name="page-range"/>
          </optional>
        </group>
        <ref name="elocation-id"/>
      </choice>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="address-link.class"/>
        <ref name="product"/>
        <ref name="supplementary-material"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="history"/>
    </optional>
    <optional>
      <ref name="pub-history"/>
    </optional>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="self-uri"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="related-article.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-abstract"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="funding-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="support-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="conference"/>
    </zeroOrMore>
    <optional>
      <ref name="counts"/>
    </optional>
    <optional>
      <ref name="custom-meta-group"/>
    </optional>
  </define>
  <!-- CONFERENCE MODEL -->
  <!--
    The content model of the <conference>
    element
  -->
  <define name="conference-model">
    <ref name="conf-date"/>
    <oneOrMore>
      <choice>
        <ref name="conf-name"/>
        <ref name="conf-acronym"/>
      </choice>
    </oneOrMore>
    <optional>
      <ref name="conf-num"/>
    </optional>
    <optional>
      <ref name="conf-loc"/>
    </optional>
    <zeroOrMore>
      <ref name="conf-sponsor"/>
    </zeroOrMore>
    <optional>
      <ref name="conf-theme"/>
    </optional>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <zeroOrMore>
      <ref name="contrib-id.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="name.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="degree.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-info.class"/>
    </zeroOrMore>
  </define>
  <!-- DATE ELEMENTS MODEL -->
  <!--
    The content models for elements that describe
    dates, such as Publication Date <pub-date> and
    History Dates <date>.  The <string-date>
    element holds dates for which months and
    years are not given, for example "first
    quarter", "spring", etc.
    Unlike the base DTD Suite, this <date>
    requires a <year> and may not take a string
    date as an alternative.
  -->
  <define name="date-model">
    <optional>
      <choice>
        <group>
          <optional>
            <ref name="day"/>
          </optional>
          <optional>
            <ref name="month"/>
          </optional>
        </group>
        <ref name="season"/>
      </choice>
    </optional>
    <ref name="year"/>
    <optional>
      <ref name="era"/>
    </optional>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM ELEMENTS -->
  <!-- The content model of a <def-item>. -->
  <define name="def-item-model">
    <ref name="term"/>
    <zeroOrMore>
      <ref name="def"/>
    </zeroOrMore>
  </define>
  <!-- EVENT MODEL -->
  <!-- The content model for the <event> element. -->
  <define name="event-model">
    <optional>
      <ref name="event-desc"/>
    </optional>
    <zeroOrMore>
      <ref name="article-id"/>
    </zeroOrMore>
    <optional>
      <ref name="article-version.class"/>
    </optional>
    <choice>
      <zeroOrMore>
        <ref name="pub-date.class"/>
      </zeroOrMore>
      <optional>
        <ref name="pub-date-not-available"/>
      </optional>
    </choice>
    <zeroOrMore>
      <ref name="date-only.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issn"/>
    </zeroOrMore>
    <optional>
      <ref name="issn-l"/>
    </optional>
    <zeroOrMore>
      <ref name="isbn"/>
    </zeroOrMore>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="notes"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="self-uri"/>
    </zeroOrMore>
  </define>
  <!-- FIGURE-LIKE CONTENT MODEL -->
  <!--
    Content model for the Figure element and any
    similarly structured elements
    Made <label> and <caption> non-repeatable.
  -->
  <!-- HISTORY MODEL -->
  <!-- The content model for the <history> element -->
  <define name="history-model">
    <oneOrMore>
      <ref name="date-only.class"/>
    </oneOrMore>
  </define>
  <!-- JOURNAL METADATA MODEL -->
  <!--
    Content model for the journal metadata
    element <journal-meta>
  -->
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <!-- ON BEHALF OF CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <on-behalf-of>
    Design Note: -%rendition-plus; begins with
    an OR bar, so this inline mix beguines with
    an OR bar.
  -->
  <define name="on-behalf-of-elements">
    <choice>
      <ref name="rendition-plus"/>
      <ref name="institution-wrap.class"/>
      <ref name="simple-link.class"/>
    </choice>
  </define>
  <!-- REFERENCE ITEM MODEL -->
  <!-- Content model for the <ref> element -->
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that a
    either <title> or a <label> (which in some
    journals takes the place of a title) must be
    present. One or the other must be present
    for autogeneration of a Table of Contents or
    other navigation.
  -->
  <!-- TRANSLATED ABSTRACT MODEL -->
  <!--
    Content model for an <trans-abstract>
    element
  -->
  <!-- ============================================================= -->
  <!-- DUPLICATE ATTRIBUTE DECLARATIONS -->
  <!-- (These are unchanged from the base Suite, -->
  <!--                     but are used in attribute over-rides below) -->
  <!-- ============================================================= -->
  <!-- COMMON ATTRIBUTES -->
  <!--
    These lists of attributes will be added to 
    nearly every element, in both the document 
    metadata and the document body, of the entire 
    Tag Set:
      - including table elements for both the 
          XHTML-inspired and OASIS-inspired
          table model elements
      - excluding only <mml:math> and 
          <xi:include> (whose namespaces JATS
          does not control).
       Great care should be taken to use these
    attributes judiciously, not as a shortcut to
    thinking through where an attribute should be
    used. Potential use cases include adding
    @xml:lang or some RDFa attribute to every 
    elements.
  -->
  <!-- JATS BASE ATTRIBUTES -->
  <!--
    Holds all the common attributes except @id.
    Used to keep the two common attribute lists 
    in sync. To add a global attribute, modify
    this list.
  -->
  <!-- JATS COMMON ATTRIBUTES -->
  <!--
    Holds all the common attributes, as defined in
    the base attribute parameter entity, plus an
    optional @id.
  -->
  <!-- JATS COMMON ATTRIBUTES (ID REQUIRED) -->
  <!--
    Holds all the common attributes, as defined in
    the base attribute parameter entity, plus a 
    required @id.
  -->
  <!-- DISPLAY ATTRIBUTES -->
  <!--
    Attributes used for several of the block
    display elements
  -->
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Attributes for any element that may be a link
    but need not be one
  -->
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE ATTRIBUTES -->
  <!--
    Attribute list for Footnote element
    Unlike base, "fn-type" values have been made
    explicit and removed the symbol attribute
  -->
  <!-- INDEX-TERM ATTRIBUTES (BITS override) -->
  <!--
    Attribute list for <index-term> element.
      The attribute @index-type names the
    specific indexes in which this term should
    be used. Contains the name of an index or 
    a space separated series of index names
  -->
  <define name="index-term-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="index-type">
        <data type="NMTOKENS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="vocab"/>
    </optional>
    <optional>
      <attribute name="vocab-identifier"/>
    </optional>
    <optional>
      <attribute name="vocab-term"/>
    </optional>
    <optional>
      <attribute name="vocab-term-identifier"/>
    </optional>
  </define>
  <!-- INLINE GRAPHIC ATTRIBUTES -->
  <!--
    Attributes for Inline Graphic
    <inline-graphic>
  -->
  <define name="inline-graphic-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="baseline-shift"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="link-atts"/>
  </define>
  <!-- PERSON GROUP ATTRIBUTES -->
  <!-- Attributes for the <person-group> element -->
  <define name="person-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="person-group-type">
        <choice>
          <ref name="person-group-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="custom-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- SEE-ALSO ATTRIBUTES -->
  <!-- Attribute list for <see-also> element. -->
  <define name="see-also-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="vocab"/>
    </optional>
    <optional>
      <attribute name="vocab-identifier"/>
    </optional>
    <optional>
      <attribute name="vocab-term"/>
    </optional>
    <optional>
      <attribute name="vocab-term-identifier"/>
    </optional>
  </define>
</grammar>
<!-- SECTION ATTRIBUTES -->
<!-- Attribute list for Section element -->
<!-- ================== End Publishing Content/ATT Override ====== -->
