schema/nisosts/NISO-STS-interchange-1-2-MathML3-RNG/NISO-STS-mixes1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    NISO STS DTD Customize Mixes Module -->
<!-- VERSION:   ANSI/NISO Z39.102-2022, STS: -->
<!-- Standards Standards Tag Suite (Version 1.2) -->
<!-- DATE:      October 2022 -->
<!---->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  
  "-//NISO//DTD NISO STS DTD Customize Mixes v1.2 20221031//EN"
       Delivered as file "NISO-STS-mixes1.ent"
-->
<!-- ============================================================= -->
<!-- SYSTEM:     NISO Standards Tag Suite (NISO STS) -->
<!---->
<!-- This new module extends the capabilities of -->
<!-- ISO STS V1.1 DTD. -->
<!---->
<!-- PURPOSE:    Declares over-ride values for the default element -->
<!-- mixes in the Suite. These over-rides are specific -->
<!-- to the NISO STS DTD. They may override parameter -->
<!-- entities from the basic JATS Suite, from the JATS -->
<!-- Publishing DTD (Blue), or from the BITS Suite. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- default mixes modules (%default-mixes;) -->
<!---->
<!-- CONTAINS:   1) PEs that define the element mixes to be -->
<!-- over-ridden -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. -->
<!-- Deborah Aleyne Lapeyre and B. Tommie Usdin -->
<!-- in support of NISO and the NISO STS Committee. -->
<!-- Mulberry Technologies work was supported by the -->
<!-- American Society of Mechanical Engineers (ASME) -->
<!-- and ASTM International. -->
<!---->
<!-- COPYRIGHT AND LICENSE: -->
<!-- Copyright © 2017, 2022 by ISO, the American -->
<!-- Society of  Mechanical Engineers (ASME), -->
<!-- ASTM International, Mulberry Technologies, Inc., -->
<!-- and the National Information Standards -->
<!-- Organization (NISO). -->
<!---->
<!-- This work is licensed under a Creative Commons -->
<!-- Attribution-ShareAlike 4.0 International License. -->
<!-- To view a copy of this license, visit -->
<!-- http://creativecommons.org/licenses/by-sa/4.0/ -->
<!--              or send a letter to Creative Commons, PO Box 1866, -->
<!-- Mountain View, CA 94042, USA -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- October 2016 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)  
       =============================================================
       NISO STS Version 1.2 (ANSI/NISO Z39.102-2022)
                                        (DAL/BTU) v1.2 (2022-10-31)
  
       ANSI NISO STS is a continuing maintenance NISO Standard, 
       which requires voting by both the NISO and ANSI memberships 
       to be changed. This version of the NISO STS was approved 
       by ANSI vote on October 21, 2022, so it supersedes the 
       2017 version and all committee drafts, becoming 
       NISO STS v1.2 20221031 (ANSI/NISO Z39.102-2022).
  
       The formal public identifiers have been changed in the  
       modules and the OASIS XML catalogs.
  
    3. NISO STS 'v1.1d1 20210831' becomes 'v1.2 20221031'
       'ANSI/NISO Z39.102-2017' becomes 'ANSI/NISO Z39.102-2022'
  
       =============================================================
       NISO STS Version 1.1d1 (ANSI/NISO Z39.102-202x)
                                    (DAL/BTU) v1.1d1 (2021-08-31)
  
       ANSI NISO STS is a continuing maintenance NISO Standard, 
       which requires voting by the NISO and ANSI memberships 
       to be changed. 
  
       This ***DRAFT*** DTD represents an interim version of the
       non-normative STS DTD Suite, as an indication to STS users
       of the decisions that have been made by the STS Standing
       Committee. This DRAFT has not yet been given public review 
       or voting; it is for Standing Committee review and
       testing. 
  
       The formal public identifiers have been changed in the  
       modules and the OASIS XML catalogs.
  
    2. TERM DISPLAY CLASS - Added <term-display-string> to hold
       displayed text of various sorts inside <term-display>
       That cannot be tagged using one of the semantic term-display
       elements.
       Class is used in side %inside-term-display-mix.
  
    1. STS 'v1.0 20171031' becomes 'v1.1d1 20210831' 
-->
<!-- ============================================================= -->
<!-- OVERRIDE INLINE TEXT MIX -->
<!-- ============================================================= -->
<!-- EMPHASIS MIX ELEMENTS -->
<!--
  Elements that may be used inside most of the
  emphasis class elements
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="emphasized-text">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="citation.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="std-ref.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- RENDITION MARKUP PLUS -->
  <!--
    Only the simplest of the typographic
    emphasis elements, as well as subscript and
    superscript.  Usually used in a model that
    allows #PCDATA and this restricted mixture.
    This mix may be enhanced slightly in some
    more permissive DTDs, and should always
    contain at least typographic emphasis,
    subscript, and superscript.
    MAINTENANCE NOTE:: This Parameter Entity
    and the related PE "just-rendition" have
    been put in place to restrict the amount of
    variability that a person modifying the DTD
    through PE redefinition can achieve. Some
    elements have been set #PCDATA plus one PE
    and some have been set to #PCDATA plus the
    other in an effort to allow designers to
    modify entire groups of elements, but not
    to individually change similar models.
    modify entire groups of elements, but not
    to change similar models individually .
    Design Note: Inline mixes begin with an
    OR bar
  -->
  <define name="rendition-plus">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="subsup.class"/>
      <ref name="phrase-content.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- OVERRIDE INSIDE-CELL -->
  <!-- ============================================================= -->
  <!-- INSIDE TABLE CELL ELEMENTS -->
  <!--
    Mixed with #PCDATA inside a table cell, such
    as a <td> or <th> element in the XHTML table
    model, the <entry> element in the OASIS CALS
    table model, etc.  This PE will be used as the
    value of %Flow.mix;, %paracon;, etc.
    ### Usage Alert ###
    Design Note: Inside cell is an exception, an
    inline mix that does not start with an OR
    bar. This is because it is used within the
    PE %Flow.mix;, which is an inline mix
    defined in the course of the XHTML Table DTD,
    a DTD not under control of this DTD Suite.
  -->
  <define name="inside-cell">
    <choice>
      <ref name="address-link.class"/>
      <ref name="appearance.class"/>
      <ref name="article-link.class"/>
      <ref name="block-math.class"/>
      <ref name="break.class"/>
      <ref name="citation.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="figures.class"/>
      <ref name="inline-math.class"/>
      <ref name="intable-para.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="all-notes.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-display.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- OVERRIDE INSIDE-TABLE-WRAP -->
  <!-- ============================================================= -->
  <!-- INSIDE TABLE WRAPPER ELEMENTS -->
  <!--
    Usually a Table Wrapper contains a table,
    properly tagged with rows and columns, but
    sometimes, a structure that is labeled as
    a "table" is actually a list, or two
    paragraphs.  This Parameter Entity names
    all the alternatives to table that may
    occur inside a table wrapper.
  -->
  <define name="inside-table-wrap">
    <choice>
      <ref name="intable-para.class"/>
      <ref name="list.class"/>
      <ref name="simple-intable-display.class"/>
      <ref name="all-notes.class"/>
      <ref name="table.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- OVERRIDE PARAGRAPH-LEVEL ELEMENT MIX -->
  <!-- ============================================================= -->
  <!-- PARAGRAPH-LEVEL ELEMENTS -->
  <!--
    Elements that may be used at the same
    structural level as a paragraph, for
    example inside a Section
    Note: There a major overlap between this
    parameter entity and that for the elements
    that are at the same level as a paragraph.
    Inline elements appear only inside a
    paragraph, but block elements such as quotes
    and lists may appear either within a
    paragraph or at the same level as a
    paragraph. This serves a requirement in a
    repository DTD, since some incoming material
    will have restricted such elements to only
    inside a paragraph,  some incoming material
    will have restricted them to only outside a
    paragraph and some may allow them in both
    places. Thus the DTD must allow for them to
    be in either or both.                      
    
    Change to use %nothing-but-para.class instead
    of %just-para.class, to avoid determinism
    error (some members of %just-para.class 
    are also members of %block-display.class
    and would otherwise cause trouble.
  -->
  <define name="para-level">
    <choice>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="editing-instructions.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <define name="para-level-minus-x">
    <ref name="para-level"/>
  </define>
  <!-- PARAGRAPH ELEMENTS -->
  <!--
    Originally defined in JATS-common1.ent
    but extended to also allow the "break" 
    element in the content model. The use of 
    "break" should be discouraged and only used 
    in exceptional cases such as marking up 
    legacy documents or very specific layouts.
  -->
  <define name="p-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="citation.class"/>
      <ref name="emphasis.class"/>
      <ref name="funding.class"/>
      <ref name="inline-math.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="ref-list.class"/>
      <ref name="rest-of-para.class"/>
      <ref name="simple-link.class"/>
      <ref name="break.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- INSIDE A <term-display> ELEMENT -->
  <!-- ============================================================= -->
  <!-- INSIDE TERM SECTION CLASS -->
  <!--
    The elements that may be used inside a 
    <term-sec> element. (Essentially, para-level
    block elements plus the notes elements.)                           
    Note: In spite of its name, the just-para 
    class holds all types of notes as well as <p> 
    elements.
  -->
  <define name="inside-term-sec.mix">
    <choice>
      <ref name="inside-term-sec-semantics.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- INSIDE TERM DISPLAY CLASS -->
  <!--
    The elements that may be used inside a 
    <term-display> element.(Essentially, 
    para-level block elements plus the notes 
    elements and the semantic term elements.) 
    Note: In spite of its name, the just-para 
    class holds all types of notes as well as <p> 
    elements.
  -->
  <define name="inside-term-display.mix">
    <choice>
      <ref name="term-semantics.class"/>
      <ref name="term-display-string.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- OVERRIDE BACK MATTER COMPONENTS MIX -->
  <!-- ============================================================= -->
  <!-- DOCUMENT BACK MATTER ELEMENTS -->
  <!--
    Back Matter Elements used by a full document
    such as a journal article. This is an element
    grouping rather than a class. These
    elements may also appear in the content models
    of structural elements, such as back matter.
    (Note: Technically this should have used
    %sec.class;, but %sec-level; was used in an
    earlier release and backwards compatibility
    must be maintained.
  -->
  <define name="doc-back-matter-mix">
    <choice>
      <ref name="back.class"/>
      <ref name="front-back.class"/>
      <ref name="back-index.class"/>
      <ref name="sec.class"/>
    </choice>
  </define>
</grammar>
<!-- ================== End NISO STS DTD Mixes Customizations ==== -->
