schema/isosts/rng/ISOSTS-classes.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    ISOSTS DTD Customize Classes Module -->
<!-- VERSION:   ISOSTS 1.1 -->
<!-- DATE:      July 2013 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//ISO//DTD ISOSTS DTD Customize Classes v1.1 20130701//EN"
       Delivered as file "ISOSTS-classes.ent"
       Available at: http://www.iso.org/schema/isosts/v1.1/ISOSTS-classes.ent
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     ISOSTS DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride named element classes in the underlying -->
<!-- JATS (Z39.96) Journal Publishing DTD -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- CONTAINS:   1) PEs for changing the contents of the default -->
<!-- element classes (names ending in '.class') -->
<!---->
<!-- CREATED FOR: -->
<!-- International Organization for Standardization -->
<!-- (ISO), Geneva. -->
<!---->
<!-- © 2011, 2012 ISO, All rights reserved -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- July 2011 -->
<!---->
<!-- CREATED BY: B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!-- C. M. Sperberg-McQueen (Mulberry Technologies, -->
<!-- Inc.) -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 1.1                            (HA) v1.1 (2013-07-01)
  
   14. Update version number and public identifiers to 1.1
  
       =============================================================
       Version 1.0                           (MSM) v1.0 (2012-04-23)
  
   13. Updated version number for issue of version 1.0.
  
       =============================================================
       Version 0.7                       (MSM/BTU) v0.7 (2012-02-07)
  
   12. Define std-ref.class, containing just std-ref.
  
   11. Define figures.class, containing fig and fig-group.
  
       =============================================================
       Version 0.6                       (MSM/BTU) v0.6 (2011-12-16)
  
   10. Add year back into std-ref-content.class.
  
    9. Alphabetize entity declarations here for easier navigation.
  
    7. Add tbx:entailedTerm to simple-link.class.
  
    7. Define sub-part.class.
  
       =============================================================
       Version 0.5                       (MSM/BTU) v0.5 (2011-10-14)
  
    6. Add non-normative.class and only-para.class; add 
       non-normative-note and non-normative-example to just-para.class
       (despite the name).
  
    5. In std-ref-content.class, remove year, add edition.  In
       std-content.class, add fn, xref.
  
    4. Add std-content.class for possible content of std element.
  
    3. Include citation.class (to add std), emphasis.class (to add
       num), math.class (to suppress tex-math).  
  
    2. Add term-sec.class (for use in term-sec itself: once you go
       into a term-sec, there is no going back to normal sections)
  
       =============================================================
       Version 0.3                       (MSM/BTU) v0.3 (2011-07-11)
  
    1. Made this module as part of preparing version 0.3 of the DTD. 
  
-->
<!-- Entities are in alphabetical order. -->
<!-- ============================================================= -->
<!-- BLOCK-DISPLAY CLASS -->
<!-- ============================================================= -->
<!-- DISPLAY CLASS ELEMENTS -->
<!--
  Graphical or other image-related elements.
  The display elements may occur within
  the text of a table cell or paragraph
  although they are typically at the same
  hierarchical level as a paragraph.
  Added 'non-normative-note' and 
  'non-normative-example' elements.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="block-display.class">
    <choice>
      <ref name="address"/>
      <ref name="alternatives"/>
      <ref name="array"/>
      <ref name="boxed-text"/>
      <ref name="chem-struct-wrap"/>
      <ref name="fig"/>
      <ref name="fig-group"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="non-normative-note"/>
      <ref name="non-normative-example"/>
      <ref name="preformat"/>
      <ref name="supplementary-material"/>
      <ref name="table-wrap"/>
      <ref name="table-wrap-group"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- CITATION CLASS -->
  <!-- ============================================================= -->
  <!-- CITATION CLASS ELEMENTS -->
  <!--
    Reference to an external document, as used
    within, for example, the text of a
    paragraph
  -->
  <define name="citation.class">
    <choice>
      <ref name="element-citation"/>
      <ref name="mixed-citation"/>
      <ref name="std"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- EMPHASIS CLASS -->
  <!-- ============================================================= -->
  <!-- EMPHASIS RENDITION ELEMENTS -->
  <!--
    Add 'num'. It doesn't fit perfectly 
    here, but it is sometimes used to put
    numeric data into a different font.  And
    the only other class as ubiquitous as 
    %emphasis.class is %subsup.class, which 
    is not more suitable.
  -->
  <define name="emphasis.class">
    <choice>
      <ref name="bold"/>
      <ref name="italic"/>
      <ref name="monospace"/>
      <ref name="num"/>
      <ref name="overline"/>
      <ref name="roman"/>
      <ref name="sans-serif"/>
      <ref name="sc"/>
      <ref name="strike"/>
      <ref name="underline"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- FIGURES CLASS -->
  <!-- ============================================================= -->
  <define name="figures.class">
    <choice>
      <ref name="fig"/>
      <ref name="fig-group"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- JUST-PARA CLASS -->
  <!-- ============================================================= -->
  <!-- See also only-para.class. -->
  <define name="just-para.class">
    <choice>
      <ref name="p"/>
      <ref name="non-normative-note"/>
      <ref name="non-normative-example"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- NON-NORMATIVE CLASS -->
  <!-- ============================================================= -->
  <define name="non-normative.class">
    <choice>
      <ref name="non-normative-note"/>
      <ref name="non-normative-example"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- MATH CLASS -->
  <!-- ============================================================= -->
  <!-- Suppress tex:math here -->
  <!-- MATHEMATICAL EXPRESSIONS CLASS ELEMENTS -->
  <define name="math.class">
    <ref name="mml.math"/>
  </define>
  <!-- ============================================================= -->
  <!-- ONLY-PARA CLASS -->
  <!-- ============================================================= -->
  <!--
    Since we are adding elements to the
    just-para class, we need a new class for
    the one place where we really do want 
    p and only p to be a member of the class.
  -->
  <define name="only-para.class">
    <ref name="p"/>
  </define>
  <!-- ============================================================= -->
  <!-- SECTION CLASS -->
  <!-- ============================================================= -->
  <!-- SECTION CLASS ELEMENTS -->
  <!--
    Information for the reader that is at the
    same structural level as a Section, which
    is a headed structure full of smaller
    elements such as paragraphs.
    
    Added 'term-sec', a section containing
    terminological data.
  -->
  <define name="sec.class">
    <choice>
      <ref name="sec"/>
      <ref name="term-sec"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- SIMPLE-LINK CLASS -->
  <!-- ============================================================= -->
  <!-- SIMPLE LINKS/CROSS-REFERENCES CLASS -->
  <!--
    The smaller and simpler linking elements
    that might be inside, for example, a
    Keyword <kwd>
  -->
  <define name="simple-link.class">
    <choice>
      <ref name="fn"/>
      <ref name="target"/>
      <ref name="tbx.entailedTerm"/>
      <ref name="xref"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- STD-CONTENT CLASS -->
  <!-- ============================================================= -->
  <!-- STD-CONTENT CLASS ELEMENTS -->
  <!--
    Elements that can occur within an 'std'
    element and are not otherwise provided for
  -->
  <define name="std-content.class">
    <choice>
      <ref name="std-ref"/>
      <ref name="title"/>
      <ref name="fn"/>
      <ref name="xref"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- STD-REF CLASS -->
  <!-- ============================================================= -->
  <!-- STD-REF CLASS -->
  <!--
    Elements that can occur where 'std-ref'
    can occur (initially only std-ref itself)
  -->
  <define name="std-ref.class">
    <ref name="std-ref"/>
  </define>
  <!-- ============================================================= -->
  <!-- STD-REF-CONTENT CLASS -->
  <!-- ============================================================= -->
  <!-- STD-REF-CONTENT CLASS ELEMENTS -->
  <!--
    Elements that can occur within a 'std-ref'
    element
  -->
  <define name="std-ref-content.class">
    <choice>
      <ref name="originator"/>
      <ref name="doc-type"/>
      <ref name="doc-number"/>
      <ref name="part-number"/>
      <ref name="edition"/>
      <ref name="suppl-type"/>
      <ref name="suppl-number"/>
      <ref name="year"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- SUB-PART CLASS -->
  <!-- ============================================================= -->
  <!-- SUB-PART CLASS ELEMENTS -->
  <!--
    Elements that can occur where a 'sub-part'
    can occur.
  -->
  <define name="sub-part.class">
    <ref name="sub-part"/>
  </define>
  <!-- ============================================================= -->
  <!-- TERM-SECTION CLASS -->
  <!-- ============================================================= -->
  <!-- TERM-SECTION CLASS ELEMENTS -->
  <!--
    Specialized sections for terminological 
    data, excluding normal sections.
  -->
  <define name="term-sec.class">
    <ref name="term-sec"/>
  </define>
</grammar>
<!-- ================== End ISOSTS Class Overrides =============== -->
