schema/isosts/rng/ISOSTS-models.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    ISOSTS DTD Custom Content and Attributes Module -->
<!-- VERSION:   ISOSTS 1.1 -->
<!-- DATE:      July 2013 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//ISO//DTD ISOSTS DTD Customize Content and Attributes v1.1 20130701//EN"
       Delivered as file "ISOSTS-models.ent"
       Available at: http://www.iso.org/schema/isosts/v1.1/ISOSTS-models.ent
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     ISOSTS DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride content models or parts of content -->
<!-- models when making a new DTD from the modules of -->
<!-- the JATS (Z39.96) Journal Publishing DTD -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- CONTAINS:   1) PEs that define complete content models. -->
<!-- (names ending in the suffix "-model") -->
<!---->
<!-- CREATED FOR: -->
<!-- International Organization for Standardization -->
<!-- (ISO), Geneva. -->
<!---->
<!-- © 2011, 2012 ISO, All rights reserved -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- May 2011 -->
<!---->
<!-- CREATED BY: B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!-- C. M. Sperberg-McQueen (Mulberry Technologies, -->
<!-- Inc.) -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 1.1                            (HA) v1.1 (2013-07-01)
  
   17. Update version number and public identifiers to 1.1
  
       =============================================================
       Version 1.0                           (MSM) v1.0 (2012-04-23)
  
   16. Updated version number for issue of version 1.0.
  
       =============================================================
       Version 0.7                       (MSM/BTU) v0.7 (2012-02-07)
  
   15. Allow non-normative.class to appear after any member of
       sec-back-matter.mix, so that notes can appear at the very
       end of sections.  
  
   14. Add simple-link.class to label, to allow footnote references
       from section or annex labels.
  
   13. Add simple-link.class and citation.class to preformat-elements,
       to allow references to standards and to other sections of
       a document to be tagged within preformatted material (e.g.
       ASN.1 declarations).
  
       =============================================================
       Version 0.6                       (MSM/BTU) v0.6 (2011-12-16)
  
   12. Add style-type attribute to p element.
  
   11. Add fn-group.class and fn-link.class to fig-model, to allow
       fn and fn-group inside of fig elements.
  
   10. Revise sec-model to allow title to be omitted, if label is
       supplied (but otherwise to remain required).
  
    9. Make fig/@position be CDATA, overriding attribute specification
       in %display-atts;.
  
    8. Include citation-elements, to add break and xref to the
       elements legal inside element-citation and mixed-citation
       (by adding break.class and simple-link.class).
  
    7. Add non-normative.class to ref-model.
  
    6. In 'app', make 'annex-type' optional.
  
       =============================================================
       Version 0.5                       (MSM/BTU) v0.5 (2011-10-13)
  
    5. In 'array', use %table.class, not %tbody.class.
  
    4. Allow 'originator' attribute on section and all paragraph-level
       children of section.
  
    3. Add %std-elements, %std-ref-elements, %label-elements.
  
       =============================================================
       Version 0.3                       (MSM/BTU) v0.3 (2011-07-11)
  
    2. Change name from ISDTS to ISOSTS, update version number
  
       =============================================================
       Version 0.2                       (MSM/BTU) v0.2 (2011-05-22)
  
    1. Made this module as part of preparing version 0.2 of the DTD.
-->
<!-- ============================================================= -->
<!-- OVER-RIDES OF JATS BASE SUITE MODELS -->
<!-- ============================================================= -->
<!-- BOXED TEXT MODEL -->
<!--
  Complete content model for the boxed text
  element <boxed-text>.
  Removed <sec-meta>
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="boxed-text-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    may or may not have an initial title. 
    Removed <sec-meta>
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
      <zeroOrMore>
        <ref name="non-normative.class"/>
      </zeroOrMore>
    </zeroOrMore>
  </define>
  <!-- PUB DATE MODEL -->
  <!--
    In ISOSTS, dates within pub-data are given
    in ISO 8601 form, so no sub-part tagging is
    required (or allowed).
  -->
  <define name="pub-date-model">
    <zeroOrMore>
      <text/>
    </zeroOrMore>
  </define>
  <!-- ARRAY CONTENT MODEL -->
  <!-- Content model for the <array> element -->
  <!-- Made this use table.class, not tbody.class -->
  <define name="array-model">
    <optional>
      <ref name="label"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <choice>
      <zeroOrMore>
        <ref name="just-base-display.class"/>
      </zeroOrMore>
      <ref name="table.class"/>
    </choice>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- CITATION ELEMENTS -->
  <!--
    Content for both types of citation. These
    elements may be mixed with #PCDATA in the
    <mixed-citation> element (in which all
    punctuation and spacing are left intact), and
    they also constitute the choices that can be
    used to form the all-element-content of the
    <element-citation> element (in which
    punctuation and spacing are removed).
  -->
  <!-- Added break.class and simple-link.class -->
  <define name="citation-elements">
    <choice>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF JATS JOURNAL PUBLISHING -->
  <!-- CUSTOM MODELS -->
  <!-- ============================================================= -->
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that 
    a <title> or a <label> must be present. 
    Removed <sec-meta>
  -->
  <define name="sec-model">
    <choice>
      <group>
        <ref name="label"/>
        <optional>
          <ref name="title"/>
        </optional>
      </group>
      <ref name="title"/>
    </choice>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
      <zeroOrMore>
        <ref name="non-normative.class"/>
      </zeroOrMore>
    </zeroOrMore>
  </define>
  <!-- APPENDIX MODEL -->
  <!-- Content model for the <app> element. -->
  <!-- Added annex-type. -->
  <define name="app-model">
    <choice>
      <group>
        <ref name="label"/>
        <optional>
          <ref name="annex-type"/>
        </optional>
        <optional>
          <ref name="title"/>
        </optional>
      </group>
      <group>
        <optional>
          <ref name="annex-type"/>
        </optional>
        <ref name="title"/>
      </group>
    </choice>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- REFERENCE ITEM MODEL -->
  <!--
    Content model for the <ref> element
    Removed %note.class; (<note>)
  -->
  <define name="ref-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="citation.class"/>
        <ref name="non-normative.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!-- Content model for the <ack> element -->
  <!-- Made this use sec-opt-title model -->
  <define name="ack-model">
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- STANDARD ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <std>
    Added std-ref and title.
    Design Note: this inline mix begins with
    an OR bar.
  -->
  <define name="std-elements">
    <choice>
      <ref name="std-content.class"/>
      <ref name="rendition-plus"/>
    </choice>
  </define>
  <!-- STANDARDS TYPES -->
  <!--
    Possible values for the 'type' attribute
    of the 'std' element.
  -->
  <define name="std-type-values">
    <choice>
      <value>dated</value>
      <value>undated</value>
      <value>multipart</value>
    </choice>
  </define>
  <!-- STANDARDS ATTRIBUTES -->
  <!-- Attributes for the <std> element -->
  <define name="std-atts">
    <optional>
      <attribute name="type">
        <ref name="std-type-values"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="std-id"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- STD-REF ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <std-ref>
  -->
  <define name="std-ref-elements">
    <ref name="std-ref-content.class"/>
  </define>
  <!-- LABEL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <label> element.
    Added %phrase.content to allow named-content
    within a label.
  -->
  <define name="label-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase-content.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- FIGURE-LIKE CONTENT MODEL -->
  <!--
    Content model for the Figure element and any
    similarly structured elements
    Made <label> and <caption> non-repeatable.
  -->
  <define name="fig-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="block-math.class"/>
        <ref name="chem-struct-wrap.class"/>
        <ref name="fn-group.class"/>
        <ref name="fn-link.class"/>
        <ref name="intable-para.class"/>
        <ref name="just-table.class"/>
        <ref name="just-para.class"/>
        <ref name="list.class"/>
        <ref name="simple-display.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDE DISP-FORMULA-ELEMENTS -->
  <!-- ============================================================= -->
  <!-- DISPLAY FORMULA ELEMENTS -->
  <!--
    Elements for use in the <disp-formula>
    element.
    Added $non-normative.class.
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="non-normative.class"/>
      <ref name="phrase-content.class"/>
      <ref name="math.class"/>
      <ref name="simple-display.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDE PREFORMAT-ELEMENTS -->
  <!-- ============================================================= -->
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which white space,
    such as tabs, line feeds, and spaces will
    be preserved
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="citation.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="emphasis.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- ADDING 'ORIGINATOR' ATTRIBUTE TO SEC -->
  <!-- AND ITS CHILDREN -->
  <!-- ============================================================= -->
  <!-- 'ORIGINATOR' ATTRIBUTE -->
  <!-- The 'originator' attribute allows sections -->
  <!-- and other material added by a second SDO -->
  <!-- (e.g. when adopting the standard) to be -->
  <!-- marked so as to allow the new and the -->
  <!-- original text to be distinguished. Its -->
  <!-- values are not constrained. -->
  <define name="originator-attribute">
    <optional>
      <attribute name="originator"/>
    </optional>
  </define>
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <!--
    This declaration is not modified but
    copied verbatim from 
    JATS-journalpubcustom-models0.ent; it
    needs to be here because some of the 
    attribute-lists below refer to it.
  -->
  <define name="link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <attribute name="xlink:href"/>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Used for elements which may need to link to
    external sources or other objects within
    the document, but may not necessarily act
    as a link at all.  The attribute
    "xlink:href" identifies the object to which
    the link points.
  -->
  <!--
    This declaration is not modified but
    copied verbatim from 
    JATS-journalpubcustom-models0.ent; it
    needs to be here because some of the 
    attribute-lists below refer to it.
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-common0.ent -->
  <!-- ============================================================= -->
  <!-- ADDRESS ATTRIBUTES -->
  <!-- Attributes for the <address> element -->
  <define name="address-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- ALTERNATIVES ATTRIBUTES -->
  <!-- Attributes for the <alternatives> element -->
  <define name="alternatives-atts">
    <ref name="originator-attribute"/>
  </define>
  <!-- RELATED ARTICLE ATTRIBUTES -->
  <!-- Attributes for <related-article> -->
  <define name="related-article-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <attribute name="related-article-type"/>
    <optional>
      <attribute name="ext-link-type"/>
    </optional>
    <optional>
      <attribute name="vol"/>
    </optional>
    <optional>
      <attribute name="page"/>
    </optional>
    <optional>
      <attribute name="issue"/>
    </optional>
    <optional>
      <attribute name="elocation-id"/>
    </optional>
    <optional>
      <attribute name="journal-id"/>
    </optional>
    <optional>
      <attribute name="journal-id-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-display0.ent -->
  <!-- ============================================================= -->
  <!-- DISPLAY ATTRIBUTES -->
  <!--
    Attributes used for several of the block
    display elements
  -->
  <!--
    This declaration is not modified but
    copied verbatim from JATS-display0.ent; it
    needs to be here because some of the 
    attribute-lists below refer to it.
  -->
  <!--
    Note:  fig-atts uses this parameter entity
    but overrides the definition of 'position'.
    So changes in 'position' won't affect fig.
    Other changes to display-atts should
    affect fig normally.
  -->
  <define name="display-atts">
    <optional>
      <attribute name="position" a:defaultValue="float">
        <choice>
          <value>anchor</value>
          <value>background</value>
          <value>float</value>
          <value>margin</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="orientation" a:defaultValue="portrait">
        <choice>
          <value>portrait</value>
          <value>landscape</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- TABLE WRAPPER ATTRIBUTES -->
  <!--
    Attributes to be added to the regular NLM
    table attributes, for example, when the
    Elsevier or OASIS Exchange table models are
    used.
  -->
  <!--
    This declaration is not modified but
    copied verbatim from JATS-display0.ent; it
    needs to be here because some of the 
    attribute-lists below refer to it.
  -->
  <define name="other-table-wrap-atts">
    <empty/>
  </define>
  <!-- ARRAY ATTRIBUTES -->
  <!-- Attributes for the <array> element -->
  <define name="array-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="orientation" a:defaultValue="portrait">
        <choice>
          <value>portrait</value>
          <value>landscape</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- BOXED TEXT ATTRIBUTES -->
  <!-- Attributes for the <boxed-text> element -->
  <define name="boxed-text-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- CHEMICAL STRUCTURE WRAPPER ATTRIBUTES -->
  <!--
    Attributes for the <chem-struct-wrap>
    element, the outer wrapper around one or more
    block-level chemical structures
  -->
  <define name="chem-struct-wrap-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- FIGURE ATTRIBUTES -->
  <!-- Attributes for Figures <fig> -->
  <!--
    N.B. orientation, specific-use, and xml:lang
    are the same as in display-atts.  But
    position is overridden locally.            
    
    (Technical note for the maintenance staff:
    position is specified twice for fig, once 
    here in the text of fig-atts and once
    in the text of display-atts, which is 
    referenced here.  This works because XML
    [unlike ISO 8879:1986] allows the same 
    attribute name to occur more than once in the 
    ATTLISTs for an element; the first 
    specification wins.
    
    So in this case, the specification here
    using CDATA is the effective one, not the
    specification in display-atts, with its
    enumerated list of values. 
    
    Bottom line:  the double specification of
    position is not an error; don't delete it
    unless you know what you are doing.)
  -->
  <!--
    <!ENTITY % fig-atts
    "id         ID                                #IMPLIED
     position   CDATA                             'float'
     %display-atts;
     fig-type   CDATA                             #IMPLIED
     %originator-attribute;"                                 >
  -->
  <!-- FIGURE GROUP ATTRIBUTES -->
  <!-- Attributes for Figure Groups <fig-group> -->
  <define name="fig-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- GRAPHIC ATTRIBUTES -->
  <!-- Attributes for the <graphic> element -->
  <define name="graphic-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <ref name="link-atts"/>
    <ref name="originator-attribute"/>
  </define>
  <!-- MEDIA ATTRIBUTES -->
  <!-- Attributes for the <media> element -->
  <define name="media-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <ref name="link-atts"/>
    <ref name="originator-attribute"/>
  </define>
  <!-- PREFORMATTED TEXT ATTRIBUTES -->
  <!-- Attributes for the <preformat> element -->
  <define name="preformat-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="preformat-type"/>
    </optional>
    <optional>
      <attribute name="xml:space" a:defaultValue="preserve">
        <value>preserve</value>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- SUPPLEMENTARY INFORMATION ATTRIBUTES -->
  <!--
    Attributes for Supplementary Material
    <supplementary-material>
  -->
  <define name="supplementary-material-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <ref name="might-link-atts"/>
    <ref name="originator-attribute"/>
  </define>
  <!-- TABLE GROUP ATTRIBUTES -->
  <!--
    Attributes for groups of <table-wrap>
    elements <table-wrap-group>
  -->
  <define name="table-wrap-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <ref name="other-table-wrap-atts"/>
    <ref name="originator-attribute"/>
  </define>
  <!-- TABLE WRAPPER ATTRIBUTES -->
  <!--
    Attributes for the <table-wrap> element,
    the container for <table>s
  -->
  <define name="table-wrap-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <ref name="other-table-wrap-atts"/>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-math0.ent -->
  <!-- ============================================================= -->
  <!-- DISPLAY FORMULA ATTRIBUTES -->
  <!-- Attributes for the <disp-formula> element -->
  <define name="disp-formula-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- DISPLAY FORMULA GROUP ATTRIBUTES -->
  <!--
    Attributes for the <disp-formula-group>
    element
  -->
  <define name="disp-formula-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!--
    tex:math would also belong in this list
    and would also need to have the originator
    attribute, if it were not being suppressed
  -->
  <!-- ============================================================= -->
  <!-- FROM JATS-para0.ent -->
  <!-- ============================================================= -->
  <!-- DISPLAY QUOTE ATTRIBUTES -->
  <!--                     Attribute list for the <disp-quote> element -->
  <define name="disp-quote-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- PARAGRAPH ATTRIBUTES -->
  <!-- Attribute list for the <p> element -->
  <!--
    In addition to adding 'originator', also
    add style-type.
  -->
  <define name="p-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
    <optional>
      <attribute name="style-type"/>
    </optional>
  </define>
  <!-- SPEECH ATTRIBUTES -->
  <!-- Attribute list for the <speech> element -->
  <define name="speech-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- STATEMENT ATTRIBUTES -->
  <!-- Attribute list for the <statement> element -->
  <define name="statement-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- VERSE GROUP ATTRIBUTES -->
  <!-- Attribute list for the <verse-group> element -->
  <define name="verse-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-list0.ent -->
  <!-- ============================================================= -->
  <!-- DEFAULT DEFINITION LIST ATTRIBUTES -->
  <!--
    Default attribute lists to be used for
    Definition (2-part) lists
  -->
  <define name="def-list-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="list-type"/>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
    <optional>
      <attribute name="list-content"/>
    </optional>
    <optional>
      <attribute name="continued-from">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- DEFAULT LIST CLASS ATTRIBUTES -->
  <!--
    Default attribute lists to be used for most
    of the types of lists.
  -->
  <define name="list-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="list-type"/>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
    <optional>
      <attribute name="list-content"/>
    </optional>
    <optional>
      <attribute name="continued-from">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-related-objects0.ent -->
  <!-- ============================================================= -->
  <!-- RELATED OBJECT ATTRIBUTES -->
  <!-- Attributes for <related-object> -->
  <define name="related-object-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="link-type"/>
    </optional>
    <optional>
      <attribute name="source-id"/>
    </optional>
    <optional>
      <attribute name="source-id-type"/>
    </optional>
    <optional>
      <attribute name="source-type"/>
    </optional>
    <optional>
      <attribute name="document-id"/>
    </optional>
    <optional>
      <attribute name="document-id-type"/>
    </optional>
    <optional>
      <attribute name="document-type"/>
    </optional>
    <optional>
      <attribute name="object-id"/>
    </optional>
    <optional>
      <attribute name="object-id-type"/>
    </optional>
    <optional>
      <attribute name="object-type"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-backmatter.ent -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE GROUP ATTRIBUTES -->
  <!--
    Attributes for the Footnote Group <fn-group>
    element
  -->
  <define name="fn-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- GLOSSARY ATTRIBUTES -->
  <!--
    Attributes for the Glossary <glossary>
    element
  -->
  <define name="glossary-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-references.ent -->
  <!-- ============================================================= -->
  <!-- REFERENCE LIST ATTRIBUTES -->
  <!-- Attributes for the <ref-list> element -->
  <define name="ref-list-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="originator-attribute"/>
  </define>
  <!-- ============================================================= -->
  <!-- FROM JATS-journalpubcustom-models0.ent -->
  <!-- ============================================================= -->
  <!-- SECTION ATTRIBUTES -->
  <!-- Attribute list for Section element -->
  <define name="sec-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sec-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <ref name="originator-attribute"/>
  </define>
</grammar>
<!-- ================== End ISOSTS Content/Attr Override ========= -->
