schema/nisosts/RNG-NISO-STS-interchange-1-mathml2/NISO-STS-interchange-1-mathml2.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Standards Interchange DTD with -->
<!-- XHTML Tables with MATHML 2.0 -->
<!-- 'NISO STS Interchange Tag Set (NISO STS) DTD -->
<!-- with MathML 2.0' -->
<!-- VERSION:   ANSI/NISO Z39.102-2017, STS: -->
<!-- Standards Tag Suite (Version 1.0) -->
<!-- DATE:      October 2017 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NISO//DTD NISO STS Interchange Tag Set (NISO STS) DTD with MathML 2.0 v1.0 20171031//EN"
       Delivered as file "NISO-STS-interchange-1-mathml2.dtd"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:   NISO Standards Tag Suite (NISO STS) -->
<!---->
<!-- NISO STS is based on, and backward compatible -->
<!-- with, the ISO STS V1.1 model, which is a superset -->
<!-- of the ANSI/NISO Journal Publishing Tag Set (Blue) -->
<!-- of the Journal Article Tag Suite (JATS) model. -->
<!---->
<!-- PURPOSE:  DTD for the XML tagging of standards documents that -->
<!-- uses only the XHTML-inspired table model and -->
<!-- MathML 2.0. -->
<!---->
<!-- This NISO STS standards model is intended for the -->
<!-- XML tagging of draft and published standards -->
<!-- documents for standards organizations and bodies. -->
<!-- The Tag Set grammar is available in DTD, XSD, and -->
<!-- RNG formats. -->
<!---->
<!-- BASED ON: -->
<!-- NISO STS is based on, but not fully compatible with -->
<!-- the NISO Z39.96 Journal Article Tag Suite. -->
<!-- (Most of the body is compatible; the NISO STS top -->
<!-- level and metadata are customized to standards -->
<!-- and not the same as JATS journal articles.) -->
<!---->
<!-- This DTD was constructed using the modules from -->
<!-- ISO STS, ANSI/NISO JATS Journal Publishing DTD -->
<!-- (Blue), the JATS DTD Suite, and BITS (Book -->
<!-- Interchange Tag Suite). -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. -->
<!-- Deborah Aleyne Lapeyre and B. Tommie Usdin -->
<!-- in support of NISO and the NISO STS Committee. -->
<!-- Mulberry Technologies work was supported by the -->
<!-- American Society of Mechanical Engineers (ASME) -->
<!-- and ASTM International. -->
<!---->
<!-- COPYRIGHT AND LICENSE: -->
<!-- Copyright © 2017 by ISO, the American Society of -->
<!-- Mechanical Engineers (ASME), ASTM International, -->
<!-- Mulberry Technologies, Inc., and the National -->
<!-- Information Standards Organization. This work is -->
<!-- made available under a Creative Commons -->
<!--              Attribution-ShareAlike 4.0 International License: -->
<!-- http://creativecommons.org/licenses/by-sa/4.0/ -->
<!---->
<!-- This work is licensed under a Creative Commons -->
<!-- Attribution-ShareAlike 4.0 International License. -->
<!-- To view a copy of this license, visit -->
<!-- http://creativecommons.org/licenses/by-sa/4.0/ -->
<!--              or send a letter to Creative Commons, PO Box 1866, -->
<!-- Mountain View, CA 94042, USA -->
<!---->
<!-- MODIFYING A TAG SET: -->
<!-- This DTD was created from the NISO STS DTD Suite. -->
<!-- Standard organizations, bodies, and distributors -->
<!-- may use the DTD as is for markup of standards -->
<!-- material for publishing and distribution or -->
<!-- create a custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This suite has been set up to be extended using a -->
<!-- new DTD file and new DTD-specific customization -->
<!-- modules to redefine the many Parameter Entities. -->
<!-- Please DO NOT modify the suite modules directly -->
<!-- or redistribute modified versions of the suite; -->
<!-- please use Parameter Entity override mechanisms. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, we request: -->
<!---->
<!-- 1. If you create a DTD from the STS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the NISO STS (NISO Standards Tag Suite) -->
<!-- DTD." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the NISO Standards Tag Suite -->
<!-- (STS) DTD." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- October 2016 -->
<!---->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
-->
<!-- ============================================================= -->
<!-- DESIGN CONSIDERATIONS -->
<!-- ============================================================= -->
<!--
  MODULAR DTD LIBRARY
  The set of JATS journal article publishing 
  and interchange DTD modules was written with
  the intention that DTDs for specific purposes, 
  such as this standards DTD, would be developed
  based on the modules.
  
  This standards Tag Set has been optimized for
  the interchange of standards. This means that
  this Tag Set is smaller (fewer elements,
  and fewer choices in some contexts) than the
  standards extended Tag Sets, which were 
  developed from these same modules. It was not 
  the intention to limit the expressive power
  licensed by the Tag Set, but rather to limit
  the choices that would make interchange more
  difficult while still enabling a wide variety
  of publishing practices.
  
  This STS Interchange DTD has been developed 
  from the JATS and BITS DTD Suite modules, 
  in the approved manner, making changes to the 
  declarations in those modules by overriding 
  Parameter Entity contents by redefining the 
  entities in the:
     %journalpubcustom-classes.ent;
     %journalpubcustom-mixes.ent;
     %journalpubcustom-models.ent;
  modules, which are called from this DTD file.
-->
<!-- ============================================================= -->
<!-- MODULES OF MODULES INVOKED -->
<!-- ============================================================= -->
<!--
  MODULE TO NAME NISO STS DTD-SPECIFIC 
  MODULES
-->
<!--
  Names all NISO STS DTD-specific external 
  modules
-->
<!-- MODULE TO NAME JATS-SPECIFIC MODULES -->
<!--
  Names all JATS Publishing DTD-specific 
  external modules used by NISO STS. (Includes
  modules for only the XHTML tables.)
-->
<!-- MODULE TO NAME THE MODULES -->
<!--
  Declares all the external modules that are
  part of the modular Journal Archiving and
  Interchange DTD Suite library. Thus it does
  NOT declare itself; the DTD-specific
  module-of-modules; or the DTD-specific class,
  mix, or model over-ride modules. Those are
  declared in the DTD-specific module of modules.
     Since this module declares but does not
  invoke modules, this DTD invokes any modules
  it uses by referencing the external
  Parameter Entities defined in the Module of
  Modules. To include a set of elements (such
  as all the lists or the MathML elements) this
  module defines the external Parameter Entity
  for the module(s) that contains the MathML
  declarations and the DTD references that
  entity.
-->
<!-- ============================================================= -->
<!-- NISO ALI NAMESPACE SETUP -->
<!-- ============================================================= -->
<!-- DEFINE ALI NAMESPACE ATTRIBUTE AND PREFIX -->
<!--
  Names the module defines the NISO Access and 
  Indicators Exchange Model namespace, prefix, 
  and pseudo-attribute @xmlns.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="JATS-ali-namespace1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- ESTABLISH TBX NAMESPACE -->
  <!-- ============================================================= -->
  <!-- NISO STS TBX NAMESPACE MODULE -->
  <include href="NISO-STS-tbx-namespace1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- SET UP XINCLUDE PROCESSING -->
  <!-- ============================================================= -->
  <!-- XINCLUDE MODULE -->
  <!--
    Set up the namespace and elements for using
    <xi:include> to manage books and book parts.
  -->
  <include href="BITS-xinclude2.ent.rng"/>
  <!-- ============================================================= -->
  <!-- SET UP COMMON (ALL ELEMENT) ATTRIBUTES -->
  <!-- ============================================================= -->
  <!-- COMMON ATTRIBUTES MODULE -->
  <!--
    Set up the common attributes, those used on
    nearly all elements.
    Must be called before the custom models
    module.
  -->
  <include href="JATS-common-atts1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- CUSTOMIZATION MODULES INVOKED -->
  <!-- Note: These modules must be called after -->
  <!-- all Module of Modules but before any other -->
  <!-- modules. Unlike any other grouping, order -->
  <!-- of these modules matters. -->
  <!-- ============================================================= -->
  <!-- NISO STS CLASS CUSTOMIZATIONS -->
  <!--
    Names the module that holds DTD-specific
    class definitions for the NISO STS DTD, which
    will over-ride classes in the JATS 
    Publishing DTD.
    (Defined in %NISO-STS-modules.ent;)
  -->
  <include href="NISO-STS-classes1.ent.rng"/>
  <!-- JATS PUBLISHING CLASS CUSTOMIZATIONS -->
  <!--
    Names the module that holds the DTD-specific
    class definitions for the Journal Publishing
    DTD that will over-ride classes in the Suite.
  -->
  <include href="JATS-journalpubcustom-classes1.ent.rng"/>
  <!-- DEFAULT ELEMENT CLASSES -->
  <!--
    Names the module that holds the standard
    class definitions for the Journal Archiving
    and Interchange DTD Suite.
  -->
  <include href="JATS-default-classes1.ent.rng"/>
  <!-- NISO STS MIX CUSTOMIZATIONS -->
  <!--
    Overrides some element mixes in the JATS
    Publishing DTD and BITS Book DTD.
    (Defined in %NISO-STS-modules.ent;)
  -->
  <include href="NISO-STS-mixes1.ent.rng"/>
  <!-- JATS PUBLISHING MIX CUSTOMIZATIONS -->
  <!--
                        Set up the Parameter Entities and element
    class definitions that will be used to
    over-ride some element mixes in this DTD.
    (Defined in %journalpubcustom-modules.ent;)
  -->
  <include href="JATS-journalpubcustom-mixes1.ent.rng"/>
  <!-- DEFAULT MIX CUSTOMIZATIONS MODULE -->
  <!--
    Names the module that holds the standard
    mix definitions for the Journal Archiving
    and Interchange DTD Suite.
  -->
  <include href="JATS-default-mixes1.ent.rng"/>
  <!--
    NISO STS DTD MODELS/ATTRIBUTES CUSTOMIZATIONS 
    MODULE
  -->
  <!--
    Names the module that holds the NISO STS 
    over-rides of content models, attribute 
    lists, elements lists to be used in content 
    models, and attribute values. These are 
    NISO-STS-DTD-specific. These override content
    models and attribute lists form the JATS
    Publishing DTD (Blue) and the BITS Book DTD.
    (Defined in %NISO-STS-modules.ent;)
  -->
  <include href="NISO-STS-models1.ent.rng"/>
  <!--
    JATS PUBLISHING MODELS/ATTRIBUTES 
    CUSTOMIZATIONS MODULE
  -->
  <!--
                        Names the module that holds the over-rides
    of content models, attribute lists, elements
    lists to be used in content models, and
    attribute values. These are DTD-specific.
    (Defined in %journalpubcustom-modules.ent;)
  -->
  <include href="JATS-journalpubcustom-models1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- COMMON (SHARED) ELEMENTS MODULE INVOKED -->
  <!-- ============================================================= -->
  <!-- COMMON (SHARED) DECLARATIONS -->
  <!--
    Declarations for elements, attributes,
    entities, and Notations that are shared by
    more than one class module. Note: Must be
    called before any of the class modules.
  -->
  <include href="JATS-common1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- CLASS ELEMENTS (alpha) -->
  <!-- ============================================================= -->
  <!-- ARTICLE METADATA ELEMENTS -->
  <include href="JATS-articlemeta1.ent.rng"/>
  <!-- BACK MATTER ELEMENTS -->
  <include href="JATS-backmatter1.ent.rng"/>
  <!-- DISPLAY (GRAPHICAL) ELEMENTS -->
  <include href="JATS-display1.ent.rng"/>
  <!-- FORMATTING ELEMENT CLASSES -->
  <!-- Elements that change rendition/display. -->
  <include href="JATS-format1.ent.rng"/>
  <!-- FUNDING ELEMENTS -->
  <!--
    Elements that describe the sponsorship or
    open access
  -->
  <include href="JATS-funding1.ent.rng"/>
  <!-- LINK CLASS ELEMENTS -->
  <include href="JATS-link1.ent.rng"/>
  <!-- LIST CLASS ELEMENTS -->
  <include href="JATS-list1.ent.rng"/>
  <!-- MATH ELEMENTS -->
  <include href="JATS-math1.ent.rng"/>
  <!-- NLM CITATION ELEMENT -->
  <include href="JATS-nlmcitation1.ent.rng"/>
  <!-- PARAGRAPH-LEVEL ELEMENTS -->
  <include href="JATS-para1.ent.rng"/>
  <!-- PHRASE-LEVEL ELEMENTS -->
  <include href="JATS-phrase1.ent.rng"/>
  <!--
    BIBLIOGRAPHIC REFERENCE (CITATION)
    CLASS ELEMENTS
  -->
  <include href="JATS-references1.ent.rng"/>
  <!-- RELATED OBJECT ELEMENT -->
  <!--
    Defines the <related-object> element to
    describe a related object such as a
    related book or a dataset.
  -->
  <include href="JATS-related-object1.ent.rng"/>
  <!-- SECTION ELEMENTS -->
  <include href="JATS-section1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- THE REST OF THE EXTERNAL MODULES INVOKED -->
  <!-- ============================================================= -->
  <!-- MATHML SETUP MODULE -->
  <!-- Invoke the MathML modules -->
  <include href="JATS-mathmlsetup1.ent.rng"/>
  <!-- XHTML TABLE SETUP MODULE -->
  <!--
    Set up the necessary Parameter Entity values
    and then invoke XHTML (HTML 4.0) table
    module
  -->
  <include href="JATS-XHTMLtablesetup1.ent.rng"/>
  <!-- SPECIAL CHARACTERS DECLARATIONS -->
  <!--
    Standard XML special character entities
    used in this DTD
  -->
  <!-- CUSTOM SPECIAL CHARACTERS DECLARATIONS -->
  <!--
    Custom special character entities created
    specifically for use in this DTD Suite
  -->
  <include href="JATS-chars1.ent.rng"/>
  <!-- NOTATION DECLARATIONS MODULE -->
  <!-- ============================================================= -->
  <!-- NISO-STS-SPECIFIC MODULES -->
  <!-- ============================================================= -->
  <!-- NISO STS COMMON METADATA MODULE -->
  <include href="NISO-STS-common-metadata1.ent.rng"/>
  <!-- NISO STS STANDARD METADATA MODULE -->
  <include href="NISO-STS-std-metadata1.ent.rng"/>
  <!-- NISO STS ISO METADATA MODULE -->
  <include href="NISO-STS-iso-metadata1.ent.rng"/>
  <!-- NISO STS REG METADATA MODULE -->
  <include href="NISO-STS-reg-metadata1.ent.rng"/>
  <!-- NISO STS NATIONAL-BODY METADATA MODULE -->
  <include href="NISO-STS-nat-metadata1.ent.rng"/>
  <!-- NISO STS NON-TBX TERMS AND DEFINITIONS -->
  <include href="NISO-STS-terms-n-def1.ent.rng"/>
  <!-- NISO STS NOTES AND EXAMPLES ELEMENTS -->
  <include href="NISO-STS-notes-exmp1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- TBX INVOCATION -->
  <!-- ============================================================= -->
  <include href="NISO-STS-tbx-setup1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- MODULES BORROWED FROM BI -->
  <!-- ============================================================= -->
  <!-- BITS STRUCTURAL INDEX ELEMENTS MODULE -->
  <!--
    Element declarations for BITS structural
    index model (<index>).
  -->
  <include href="BITS-index2.ent.rng"/>
  <!-- BITS EMBEDDED INDEX ELEMENTS MODULE -->
  <!--
    Element declarations the index elements
    which are embedded in the document
    narrative.
  -->
  <include href="BITS-embedded-index2.ent.rng"/>
  <!-- BITS STRUCTURAL TABLE OF CONTENTS MODULE -->
  <!--
    Element declarations for BITS navigation
    and pointing mechanism for structural
    Indexes and tables of Contents.
  -->
  <include href="BITS-toc2.ent.rng"/>
  <!-- BITS STRUCTURAL NAVIGATION MODULE -->
  <!--
    Element declarations for BITS navigation
    and pointing mechanism for structural
    Indexes and tables of Contents.
  -->
  <include href="BITS-toc-index-nav2.ent.rng"/>
  <!-- ============================================================= -->
  <!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- DTD VERSION -->
  <!--
    What version of this DTD was used to make
    the document instance under consideration.
    Note that this is a fixed value that should
    change every time the DTD changes versions 
    or revisions.
  -->
  <define name="dtd-version">
    <optional>
      <attribute name="dtd-version" a:defaultValue="1.0">
        <value type="string" datatypeLibrary="">1.0</value>
      </attribute>
    </optional>
  </define>
  <!-- STANDARD ATTRIBUTES -->
  <!--
    Attributes for the top-level element
    <standard>
  -->
  <define name="standard-atts">
    <ref name="jats-common-atts"/>
    <ref name="dtd-version"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang" a:defaultValue="en">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="XLINK.xmlns.attrib"/>
    <ref name="MATHML.xmlns.attrib"/>
    <ref name="ali.xmlns.attrib"/>
    <ref name="xinclude.xmlns.attrib"/>
    <ref name="Schema.xmlns.attrib"/>
    <ref name="TBX.xmlns.attrib"/>
  </define>
  <!-- ============================================================= -->
  <!-- ATTRIBUTE LISTS -->
  <!-- TO BE USED FOR XINCLUDE -->
  <!-- ============================================================= -->
  <define name="app-group-attlist" combine="interleave">
    <ref name="MATHML.xmlns.attrib"/>
    <ref name="xinclude.xmlns.attrib"/>
    <ref name="TBX.xmlns.attrib"/>
  </define>
  <define name="app-attlist" combine="interleave">
    <ref name="MATHML.xmlns.attrib"/>
    <ref name="xinclude.xmlns.attrib"/>
    <ref name="TBX.xmlns.attrib"/>
  </define>
  <!-- ============================================================= -->
  <!-- 2ND TOP-LEVEL ADOPTING STANDARD <adoption> -->
  <!-- ============================================================= -->
  <!-- NISO STS TOP-LEVEL ADOPTION-WRAPPER -->
  <!--
    Element declarations for NISO STS top-level
    <adoption> element.
  -->
  <include href="NISO-STS-adoption1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- STANDARD -->
  <!-- Root element for any standards document -->
  <!-- ============================================================= -->
  <!-- STANDARD -->
  <define name="standard">
    <element name="standard">
      <ref name="standard-attlist"/>
      <ref name="front"/>
      <ref name="body"/>
      <zeroOrMore>
        <ref name="back"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="standard-attlist" combine="interleave">
    <ref name="standard-atts"/>
  </define>
  <!-- CALL IN FRONT, BODY, BACK, SUBPARTS, ETC. -->
  <!--
    The components of <front>, <body>, etc. are
    shared by all four standards Tag Sets, so they
    were abstracted into a separate module to
    prevent multiple maintenance.
  -->
  <start>
    <choice>
      <ref name="standard"/>
      <ref name="adoption"/>
    </choice>
  </start>
  <include href="NISO-STS-standards-components1.ent.rng"/>
</grammar>
<!-- ================== End NISO STS Standards Interchange DTD === -->
